---
import Layout from "../layouts/Layout.astro";
import Carrusel from "../components/islands/Carrusel";
---

<Layout title="Freja">
  <main>
    <section class="section-pulser-image">
      <Carrusel client:visible />
    </section>
  </main>
  <section>
    <h1>Hola Astro</h1>
  </section>
</Layout>

<style>
  .section-pulser-image {
    height: 100vh;
  }
</style>
