---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Freja">
  <main>
    <section class="section-pulser-image">
      <img
        src="/public/font-principle-pulser.jpg"
        alt="Freja joyeria de pulseras hecha a manos"
      />
    </section>
  </main>
</Layout>

<style>
  .section-pulser-image {
    min-height: 100vh;
  }
  .section-pulser-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
