---
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";

import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle";
import PageForFree from "./PageForFree.astro";
import PageUltimate from "./PageUltimate.astro";
import SliderCarrusel from "../components/islands/SliderCarrusel";
import Carrusel from "../components/islands/Carrusel";
---

<Layout title="Freja">
  <main>
    <section class="h-[90vh]">
      <Carrusel client:visible />
    </section>
    <section>
      <PageTitle title="¡Lo ultimo!" client:visible />
      <article>
        <PageUltimate />
      </article>
    </section>
    <section id="for-woman">
      <PageTitle title="Para mujeres" client:visible />
      <article class="px-4 py-6">
        <SliderCarrusel client:visible />
      </article>
    </section>
    <section class="lg:mt-10" id="for-man">
      <PageTitle title="Para hombres" client:visible />
      <article class="px-4 py-6">
        <SliderCarrusel client:visible />
      </article>
    </section>
    <section id="regalos">
      <PageTitle title="¡Gratis!" client:visible />

      <article>
        <PageForFree />
      </article>
    </section>
  </main>
</Layout>
